<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>
    Filename: template.html
    Written by: Elizabeth Weisbrod
<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css">
    <script src="scripts/scripts.js"></script>

    <title></title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="〇"></a></li>
            </ul>
        </nav>
        <br>
        <h1>Replace me with [BIG] text</h1>
        <br>
    </header>
    <main>
        <img src="〇" alt="〇" title="〇">
        <h2>Replace me with some text</h2>
        <br>
        <p>
            Put some stuff in here
        </p>
    </main>
    <br><br>

    <footer>
    </footer>
</body>

</html>